.output{
    display: block;
    width: 100%;
    margin: 0 60px;
}
.productCard{
    display: flex;
    align-items: center; /* Align vertically centered */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 1); /* Add shadow */
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;

}
.productCard img {
    max-width: 100%; /* Ensure image doesn't exceed its container */
    margin-right: 10px; /* Add spacing between image and list */
}
.productCard ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.productCard ul li{
    margin-bottom: 20px; /* Add spacing between list items */
}
.productCard p{
    padding: 0;
}

