/*FILTER*/
li, input{
    display: none;
}

input#a:checked ~ aside label#lbla,
input#GW:checked ~ aside label#lblGW,
input#C:checked ~ aside label#lblC,
input#boek:checked ~ aside label#lblBoek,
input#mini:checked ~ aside label#lblMini,
input#tool:checked ~ aside label#lblTool,
input#verf:checked ~ aside label#lblVerf{
    color: #1D67AE;
    font-weight: bold;
}

input#a:checked ~ article li[data-filter~="a"],
input#GW:checked ~ article li[data-filter~="GW"],
input#C:checked ~ article li[data-filter~="C"],
input#boek:checked ~ article li[data-filter~="boek"],
input#mini:checked ~ article li[data-filter~="mini"],
input#tool:checked ~ article li[data-filter~="tool"],
input#verf:checked ~ article li[data-filter~="verf"]{
    display: initial;
}

.productGallery{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,250px);
    max-width: 1000px;
    justify-content: center;
}
.productGallery img {
    max-width: 200px;
    height:auto;
}
.productGallery li:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.productGallery li a{
    text-decoration: none;
    color: #191919;
}
section{
    width: 50%;
}
ul{
    list-style: none;
}
p{
    padding: 0;
}
label{
    display: block;
    text-align: center;
    font-size: .85em;
}


