/*
colours
logo:
    blue #1D67AE (For shades and tints: https://www.color-hex.com/color/1d67ae)
*/


/*General CSS*/
* {
    font-size: 100%;
    font-family: Verdana, sans-serif;
}

body{
    background-color: #e8eff6;
}

h2 {
    font-size: 140%;
    width: 90%;
    text-align: center;
    border-bottom: 1px solid #A8A8A8;
    line-height: 0.1em;
    margin: 50px auto;
    color: #1D67AE;
}
h2 span {
    background:#fff;
    padding:0 10px;
}
h3 {
    font-size: 100%;
    width: 90%;
    text-align: center;
    border-bottom: 1px solid #A8A8A8;
    line-height: 0.1em;
    margin: 50px auto;
    color: #1D67AE;
}
h3 span {
    background:#fff;
    padding:0 10px;
}
p{
    color: #191919;
    padding: 0 100px 0;
}
ul{
    list-style: none;
}

/* HEADER */

header img{
    max-width:200px;
    height:auto;
}

/* MENU */
.menu ul
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    width: 50%;
}
.menu ul li
{
    position: relative;
    transition: 0.5s;
    display: block;
}
.menu ul li a
{
    color: black;
    text-decoration: none;
    padding: 6px 10px;
}
.menu ul li a:hover
{
    color: #1D67AE;
}
.menu ul li ul
{
    display: none;
}
.menu ul li:hover ul
{
    display: block;
    position: absolute;
    margin-top: 5px;
    width: 100%;
    padding: 10px 2px;
    background-color: white;
    box-shadow: 0 20px 100px 0 rgba(0, 0, 0, 0.5);
}
.menu a.active {
    color: #1D67AE;
}

/*CLASSES*/
.content{
    box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
    max-width: 1200px;
    min-height: 1080px;
    margin: auto;
    background-color: white;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hiddenTitle{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    left: -10000px;
}


